:root {
  --accent-primary: #1f84ec;
  --accent-1: #f0757f;
  --accent-2: #f8d63c;
  --accent-3: #90d039;
  --accent-4: #3abff0;
  --accent-5: #ff3c4c; /* CTA red */
  --muted: #475569;
  --accent-bg-section: rgba(31, 132, 236, 0.04);
  --footer-bg: #123456;
  --bg-letra: #3abff0;
  --color-primario: #0056b3;
  --color-acento: #00a6a6;
}

.bg-accent-primary {
  background-color: var(--accent-primary);
}

.bg-accent-1 {
  background-color: var(--accent-1);
}

.bg-accent-2 {
  background-color: var(--accent-2) !important;
}

.bg-accent-3 {
  background-color: var(--accent-3) !important;
}

.bg-accent-325 {
  background-color: rgba(144, 208, 57, 0.3) !important;
}

.bg-accent-4 {
  background-color: var(--accent-4);
}

.bg-accent-5 {
  background-color: var(--accent-5);
}

.bg-letra {
  background-color: var(--bg-letra);
}

.color-accent-3 {
  color: var(--accent-3);
}

@media (min-width: 768px) {
  .font-level-9 {
    font-size: 0.7685rem !important;
    line-height: 1.5rem !important;
  }
}

.font-level-9 {
  font-size: 0.7685rem !important;
  line-height: 1.5rem !important;
}

.navbar-nav .nav-item:not(.dropdown) .nav-link:hover {
  color: #fe6565 !important;
}

.card-data-list .card-data:hover {
  background-color: #fe6565 !important;
}

.btn-pill-light:hover {
  background-color: #fe6565 !important;
}
.pointer {
  cursor: pointer;
}
